html{
    background-color: #000000;
    margin: 0 auto;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: 10px;
    width: 105%;
    height: auto;
    margin-top: -10px;
    max-width: 1920px;
    min-width: 480px;


}

.wrapper{
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 5;
}
.github{
    width: 20%;
    height: auto;
    margin-right: 30px;
    line-height: 50px;
   

}
.logo a{
    text-decoration: none;
    font-size: 10%px;
    font-family:cursive;
    color: blue;
    letter-spacing: 4px;

}
nav{
    margin-left: 10px;
   

}
nav a{
    text-decoration: none;
    font-family: cursive;
    letter-spacing: 4px;
    font-size: 30%px;
    color: blue;
   

 


}
nav a:hover{
    
    background-color:transparent;


    

}
.banner-area{


    background-image: url(images/htmlbk1.jpg);
    background-size:cover;

    object-fit:cover;
    width: 100%;
    height: 100%;

    border: solid 1px;
   
    
    position:absolute;
}
#headshot{

    position:absolute;
    width:17.5%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 87%;
    min-width: auto;

    top: 30%;
    left: 42.5%;
 
    z-index: 3;
    }

  
.banner-area:after{
    content:'';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .1;
    z-index: -1;

}
.banner-area h2{
    
 

   
    width: 175px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 0, 0);
    position: relative;
    top: 205px;
    left: 43.5%;
    background-color:white;
 


}

.content-area{
    width: 100%;
    height: 100% ;
    background: #0E65A3;

}

.profile_pic{
    height: 10px;
}

#stickynote{
    position: absolute;
    height: 20%;
    width: auto;
    z-index: 2;
    margin-left:10% ;
    margin-top: 12%;
    max-height: 30%;
  

}

#stickynote2{
    position: absolute;
    height: 20%;

    z-index: 3;
    right: 10%;
    margin-top: 17%;
    transform: rotate(12deg);
}



